@import './global.scss';

.canvas-container {
    display: block;
    position: relative;
    align-items: center;
}

.canvas-container canvas {
    position: relative;
    border: 1px solid black;
    margin-top: 20px;
    cursor: url('../utils/target-cursor.svg') 24 24, auto;
}

.calibration-point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #4b0082;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, 200%);
    display: none;
}

.info-container {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    span{
        color: $app-red;
        font-weight: 600;
    }
}

.line-info,
.dots-info {
    padding: 10px;
    border: 1px solid $app-lines;
    border-radius: 5px;
    background-color: $bg-color;
}

.line-info div,
.dots-info div {
    margin-bottom: 5px;
}

.dots-container {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: start;
    border: 1px solid $app-lines;
    padding: 0 10px;
    gap: 10px;
}

.dots-container div {
    padding: 5px;
}
.canvas-input{
    margin-left: auto;
    display: flex;
    gap: 10px;
}
.dot-input {
    width: 60px;
    padding: 2px;
    border: 1px solid #ccc;
    font-family: $app-font;
    font-weight: 600;
    color: $app-red;
    border-radius: 3px;
    appearance: textfield;
}

.dot-input::-webkit-outer-spin-button,
.dot-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dot-input[type="number"] {
    -moz-appearance: textfield;
}

.canvas-container button {
    position: relative;
    left: 25%;
    font-family: $app-font;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 15px;
    color: $bg-color;
    background-color: $app-text;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color: $app-green;
        transition: 0.4s;
    }
}